/dts-v1/;
/plugin/;
/ {
    compatible = "brcm,bcm2711";

    fragment@0 {
        target = <&i2s>;
        __overlay__ {
            status = "okay";
        };
    };

    fragment@1 {
        target-path = "/";
        __overlay__ {
            spdif_rx: spdif-rx {
                compatible = "linux,spdif-dir";
                #sound-dai-cells = <0>;
                status = "okay";
            };

            sound {
                compatible = "simple-audio-card";
                simple-audio-card,name = "Mutebox";
                simple-audio-card,capture-only;
                simple-audio-card,bitclock-master = <&codec_node>;
                simple-audio-card,frame-master = <&codec_node>;

                simple-audio-card,cpu {
                    sound-dai = <&i2s>;
                    dai-tdm-slot-num = <2>;
                    dai-tdm-slot-width = <32>;
                };

                codec_node: simple-audio-card,codec {
                    sound-dai = <&spdif_rx>;
                };
            };
        };
    };
};
